@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(229, 226, 226);
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  font-size: 2vw;
  font-weight: bolder;
}

body {
  width: 100%;
  height: 100vh;
}

.widget {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advert {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin: 1em; */
}

@media (min-width: 960px) {
  .widget {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .advert {
    width: 30%;
    height: 60%;
  }
}

.description {
  font-size: 3vw;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s;
}

.description:hover {
  color: red;
  text-decoration: underline;
}

.branding {
  text-decoration: none;
  font-size: 2vw;
  color: rgb(129, 127, 127);
}

.category {
  font-size: 2vw;
}

img {
  width: 100%;
  margin: 3px;
}

a {
  color: black;
  text-decoration: none;
}
